@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --clr-main-black: rgb(57, 57, 57);
  --clr-second-black: rgb(44, 44, 44);
  --clr-offwhite: rgb(228, 228, 228);
  --clr-darkwhite: rgb(146, 146, 146);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 0 20px;
}

.container .heading{
  width: 50%;
  padding-bottom: 50px;
}
.container .heading h3{
  font-size: 3em;
  font-weight: bolder;
  padding-bottom: 10px;
  border-bottom: 3px solid #222;
}

.container .heading h3 span{
  font-weight: 100;
}
.container .box{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.container .box .dream{
  display: flex;
  flex-direction: column;
  width: 32.5%;
}

.container .box .dream img{
  width: 100%;
  padding-bottom: 15px;
  border-radius: 5px;
}

.container .btn{
  margin: 40px 0 70px 0;
  background: #222;
  padding: 15px 40px ;
  border-radius: 5px;
}

.container .btn a{
 color: #fff;
 font-size: 1.2em;
 text-decoration: none;
 font-weight: bolder;
 letter-spacing: 3px;
}

@media only screen and (max-width: 769px){
    .container .box{
   flex-direction: column;
  }

.container .box .dream{
  width: 100%;
}





}

@media only screen and (max-width: 643px){
.container .heading{
  width: 100%;
}
.container .heading h3{
  font-size: 1em;

}
}
body{
  /* background-color: lightsalmon;
  opacity:1; */
  background: linear-gradient(-45deg, #aa9f9c, #7da885, #f5b3e8, #3e5a85);
background-size: 400% 400%;
animation: gradient 10s ease infinite;
height: 100vh;
}
@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}






}
.mid-layout-top{
  background: linear-gradient(to right, #f1069e, #f50a0a);
}
.header-container{
  height: 8em;
  /* margin-left: 3em;
  margin-right: 3em; */
  background-color: var(--clr-second-black);
  color: var(--clr-offwhite);
  background: linear-gradient(to right, #62fe01, #ea8c8caf);
      
}
.nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.links{
  float: left;

}

.links a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.links a:hover {
  background-color: rgb(223, 100, 184);
}
.copyright{
  margin-top: 12px;
  display: inline-block;
}

.layout-credit{
  margin-top: 12px;
  display: inline-block;
}
.full-foot{
  background-color: var(--clr-second-black);
  height: 3em;
  width: em;
}

.inner-foot{
  margin-top: 4px;
  margin-left: 3.4em;
  margin-right: 3.4em;
  color: var(--clr-offwhite);
  display: flex;
  justify-content: space-between;
}
.mid-layout{
  /* align-self: center;
  align-content: center; */
  /* height: 100em; */
  /* margin-right: 4em;
  margin-left: 4em; */
  margin-top: 0em;
  background-color: rgb(241, 241, 241);
  
}
h1{
  font-size: 3em;
  font-weight: bolder;
  /* padding-bottom: 10px; */
  color: black;
  font-display:rgb(33, 27, 27);
  border-bottom: 1px solid #222;
  }
  h1 span{
      font-weight: 100;
      
    }
    img{
     
      height: 400px;
      
    }